<h1>商品一覧</h1>

<div class="container">
    <div class="row">
<div class="col-md-9">
<div class="row">            
<tbody>
<% @products.each do |product| %>
<tr>
<td>
</td>
<td><%= link_to product.name, product_path(product.id) %></td>
<td><%= product.price %></td>
</tr>
<% end %>
</tbody>
</div>
</div>
</div>
