<%= form_with model: genre, url: "/admin/genres",method: :post do |f| %>
  <div class="form-group">
    ジャンル名
  </div>
  <div class="form-group">
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>