<div class="container">
  <h1>ジャンル一覧・追加</h1>
  
  <%= render "admin/products/errors", product: @genre %>
  <div class="row">
    <div>
      <%= render "form", genre: @genre %>
    </div>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>ジャンル</th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genres| %>
        <tr>
          <td><%= genres.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genres.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>