<div class="container">
  <h1>商品新規登録</h1>
  <%= render "errors", product: @product %>
  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= render "form", product: @product %>
    </div>
  </div>
</div>