<div class="container">
  <h2>注文情報確認</h2>
  <table class="table table-bordered">
			<thead>
				<tr><th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
			</tr></thead>
		</table>

		<table class="table table-bordered">
			<tbody><tr>
				<td>送料</td>
				<td>円</td>
			</tr>
			<tr>
				<td>商品合計</td>
				<td>円</td>
			</tr>
			<tr>
				<td>請求金額</td>
				<td>円</td>
			</tr>
		</tbody></table>
		<p><b>支払方法</b></p>
		<p><b></b></p>

		
		<%= link_to "注文を確定する",orders_complete_path,class: "btn btn-success" %>
	</form>



</div>


