<div class="container">

	<h2>注文情報入力</h2>
	
		<p><b>支払方法</b></p>
		クレジットカード<br>
		現金支払
	  <br>
		<p><b>お届け先</b></p>
		ご自身の住所<br>
		登録済住所から選択<br>
		新しいお届け先<br>
		郵便番号（ハイフンなし
	  住所
		<br>
		<%= link_to "確認画面へ進む",orders_comfirm_path,method: :post, class: "btn btn-primary" %>
</div>


